# Streamlit Secrets (NEVER PUSH THIS)
.streamlit/secrets.toml
.streamlit/secrets.*

.env
.env.*
!.env.example
!maintenance/.env.example

# Python Virtual Environments
.venv/
venv/
env/

# Python Cache (Keeps your repo clean)
__pycache__/
*.pyc
*.pyo

.vscode/
*.code-workspace